:root {
    --main: #1F2041;
    --background: #63b4d1;
    --text: #044389;
    --text2: #1F2041;
    --random: #C9FBFF;
    --extra: rgba(0, 0, 0, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: proxima_novaregular;
    font-size: 14px;
}

body {
    display: block;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--light);
    background: url(../img/background-img.jpg)center/cover fixed no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    z-index: -1;
}

.page-container {
    min-height: calc(100vh - 25px);
}

.page-wrapper {
    background: rgba(0, 0, 0, 0.4);
    color: var(--light);
    z-index: 2;
}

/* header section */
.info-icons {
    color: var(--text);
}


.info h2 {
    word-spacing: 0.6rem;
    color: var(--text);
    font-weight: light;
}

.info a {
    transition: color 100ms ease-in-out;
}

.info a:hover {
    cursor: pointer;
    color: var(--main);
}

#order {
    color: var(--extra);
}

#header {
    min-height: calc(100vh - 94px);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(99, 180, 209))
    ,url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.restaurant {
    display: hidden;
}

.restaurant-header {
    padding: 0.3rem;
    border: 1px solid #fff;
}

.header {
    display: inline-block;
    position: absolute;
    /* background: var(--main); */
}

.customer-message {
    margin: 0.5rem 0 0.5rem 1rem;
}

/* end of header section */

/* navbar section */
.navbar {
    background: var(--background);
    padding: 20px 20px;
    border: 2px solid var(--background);
    transition: all 1s ease;
    position: fixed;
}

.navbar-background {
    padding: 5px 20px;
}

.navbar-brand {
    font-size: 20px;
    transition: all 1s ease;
}

.navbar-brand:hover {
    color: var(--random);
}

.nav-link {
    color: var(--text);
    text-decoration: none;
    transition: all 1s ease;
    font-size: 23px;
}

.nav-link:hover {
    color: var(--random);
}

.nav-btn {
    background: var(--random);
    color: var(--extra);
    border: 2px solid var(--background);
    font-size: 23px;
    transition: all 1.25s ease;
    border-radius: 50%;
}

.nav-btn:hover {
    color: var(--extra);
    border: 2px solid var(--background);
    transform: scale(1.2);
}

.nav-item a {
    list-style: none;
    text-decoration: none;

}

.nav-item i {
    right: 90%;
    padding: 10px;
}

.navbar-brand:hover {
    color: var(--random);
}

.nav-link {
    color: var(--text);
    text-decoration: none;
    transition: all 1s ease;
    font-size: 23px;
}

.nav-link:hover {
    color: var(--random);
}

.nav-btn {
    background: var(--random);
    color: var(--extra);
    border: 2px solid var(--background);
    font-size: 23px;
    transition: all 1.25s ease;
    border-radius: 50%;
    list-style: none;
    text-decoration: none;
}


/* end of navbar */

/* Menu Section */



/* End of Menu Section */

/* Menu Section */
#menu, .cart-section, .comments {
    box-shadow: 0.3rem 0.2rem #ccc;
}

.side-menu {
    background: var(--main);
    padding-right: 0;
}

.nav-item:first-child {
    padding-top: 1rem;
}

.nav-item:last-child {
    padding-bottom: 1rem;
}

#menu {
    position: block;
    background: var(--light);
    width: 80vw;
    height: 100%;
    margin: 1.5rem;
}

.category-menu-title {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.menu-content {
    display: inline block;
    color: #000;
}

.menu-items {
    display: flex;
    flex-direction: column;
}


.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
    
}

.meal-name {
    margin: 0;
    text-align: center;
    
}

.menu-item-desc {
    text-align: center;
    margin: 0 auto;
    
}

.order-btn, .btn-purchase {
    background: rgba(99, 180, 209) !important;
}

.order-btn:hover, .btn-purchase:hover {
    transition: 0.3s ease-in;
    opacity: 0.7;
}

/* End of Menu Section */

/* Cart Section */
.cart-section {
	width: var(--category-width);
	padding: 20px;
	margin: 0 auto;
    background: #fff;
}

.cart-items:nth-child(0), .cart-items:nth-child(2n+1) {
    background: #ccc;
}

.cart-items:nth-child(2n) {
    background: var(--extra);
}

.section-header {
	text-transform: text-capitalize;
}

.cart-header {
  font-weight: bold;
  font-size: 1.2em; 
  color: #333;
}

.cart-row, .cart-item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}


.cart-column {
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

.cart-item {
    width: 30%;
    color: #333;
  }
  
  .cart-price {
      width: 20%;
      color: #333;
  }
  
  .cart-quantity {
      width: 30%;
      margin: 0 auto;
      text-align: center;
  }
  
  .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2rem;
    margin: 0 auto;
  }
  
  .fa-minus-circle, .fa-plus-circle {
      font-size: 25px;
      padding: 0.5rem;
      outline: none;
      background: transparent;
      border: none;
  }
  
  .fa-minus-circle:hover, .fa-plus-circle:hover {
      opacity: 0.5;
      cursor: pointer;
  }
  
  .fa-minus-circle {
      color: red;
  }

  .item-quantity-input {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #56CCf2;
    background-color: #eee;
    font-size: 1em;
    padding: 1rem;
  }
  
  .fa-plus-circle {
      color: blue;
      margin-right: 1rem;
  }
  
  .btn-remove-item {
      width: 75px;
      height: 30px;
      background: rgb(201, 62, 62);
      outline: none;
      border-radius: 5px;
      font-size: .8em;
      text-align: center;
      padding: 0.3rem;
      margin-left: 0.2rem;
      margin-top: 0.8rem;
  }

  
  .btn-remove-item:hover {
    background: rgb(175, 53, 53);
    cursor: pointer;
  }
  
  .cart-total {
      width: 100%;
       text-align: center;
       margin-right: 20%;
      margin-bottom: 0.6rem;
      color: #333;
  }
  
  .btn-order-items {
    display: block;
    color: white;
    background: #56CCf2;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin: 30px auto;
  }
  
  .btn-order-items:hover {
    background: rgb(82, 193, 230);
    cursor: pointer;
  }
  
  .btn-purchase {
      display: block;
      position: relative;
      left: 35%;
      margin: 0.5rem auto;
      background: var(--primary);
  }
  
  .btn-purchase:hover {
    background: rgb(82, 193, 230);
    cursor: pointer;
  }
  
  






/* End of Cart Section */

/* Disclaimer Section */
.disclaimer {
    padding: 80px 40px;
    background: var(--extra);
    color: var(--light);
}


.comments {
    margin: 1.5rem 2rem;
    padding: 0 0.5rem;
    background: #fff;
}

.comments h2 {
    text-align: center;
}

.list-info {
    list-style: circle;
}

.item-info {
    list-style-type: disc;
    margin: 1rem 3rem;
}

/* End of Disclaimer Section */

/* Footer Section */

.footer {
    text-align: center;
    color: var(--light);
    font-size: 10px;
    background: var(--background);
    height: 25px;
    margin: 0;
}

#back-to-top {
    background: var(--random);
    border-radius: 50%;
    display: inline-block;
}

.scrollTop {
    position: fixed;
    bottom: 70px;
    right: 10px;
}

/* End of Footer Section */
/* Media Queries */

/*

 {

}
@media (min-width: 768px) and (max-width: 991px) {

@media (max-width: 768px) {

}

*/

@media (max-width: 576px) {
/* Navbar */
    .navbar-toggler {
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: center;
    }

    .toggler-btn {
        top: 0;
        padding: 0;
        border: none;
    }
    
    
    .bar {
        width: 30px;
        height: 3px;
        margin: 5px;
        background: var(--main);
        transition: all 0.5 ease;   
    }
    
    .change .bar1 {
        transform: rotate(-45deg) translate(-5px,6px);
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        transform: rotate(45deg) translate(-5px,-8px);
    }

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-item {
        width: 100%;
    }
    
    .nav-item a {
        list-style: none;
        text-decoration: none;
        text-align: center;
    }
    
    .nav-item i {
        margin: 3% 23%;
    }

    .menu-items {
        width: 100%;
    }

    .menu-name, .menu-item-desc, .menu-price, .order-btn {
        margin: 0 1.5rem;
    }
    .menu-name {
        width: 50px;
        height: 30px;
    }

    .menu-item-desc {
        width: 50%;
        height: 50%;
    }

    .btn-purchase {
        left: 43%;
    }
    
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .cart-section {
        margin: 0 30%;
    }
    
    .fa-plus-circle {
        margin-left: 0.6rem;
        transform: translateY(-57px);
    }

    .fa-minus-circle {
        margin-right: 0.5rem;
        transform: translateY(60px);
    }

}

@media (max-width: 768px) {
    /* background: url('../img/background-img.jpg') center/cover fixed no-repeat; */
}


